<app-main-header [title]="'Transaksi'" [backRedirect]="'/mainapp/transaction/game/pending/' + transactionData.game.id" [profileImg]="''"></app-main-header>
<ion-content [fullscreen]="true">
  <div class="mainapp">
    <div class="mainapp-content">
      <div class="information-card">
        <div class="background"></div>
        <div class="top-information">
          <p class="title">{{transactionData.game.name}} UUID</p>
          <h3 class="highlight">{{transactionData.usergame.globalid}} {{(transactionData.usergame.server) ? '(' + transactionData.usergame.server + ')' : ''}}</h3>
        </div>
        <div class="bottom-information">
          <div class="left-text">
            <p class="title">{{localText('transaction.count.product')}}</p>
            <h4 class="value"><ion-icon name="cube-sharp"/>{{transactionData.product.name}}</h4>
          </div>
          <div class="right-text">
            <p class="title">{{localText('transaction.count.price')}}</p>
            <h4 class="value"><ion-icon name="pricetags-sharp"/>{{rupiahText(transactionData.product.price, {short: true})}}</h4>
          </div>
        </div>
      </div>
      <div class="list-container">
        <div class="top-title">
          <h3 class="title">{{localText('transaction.title.detail')}}</h3>
        </div>
        <div class="box-list">
          <div class="box-item">
            <div class="item">
              <p>{{localText('transaction.detail.game')}}</p>
              <p>{{transactionData.game.name}}</p>
            </div>
            <ng-container *ngIf="transactionData.usergame.username; else usernameNotFound">
              <div class="item">
                <p>{{localText('transaction.detail.username')}}</p>
                <p>{{transactionData.usergame.username}}</p>
              </div>
              <div class="item">
                <p>{{localText('transaction.detail.globalid')}}</p>
                <p>{{transactionData.usergame.globalid}}</p>
              </div>
              <div class="item" *ngIf="transactionData.usergame.server">
                <p>{{localText('transaction.detail.server')}}</p>
                <p>{{transactionData.usergame.server}}</p>
              </div>
            </ng-container>
            <ng-template #usernameNotFound>
              <div class="item danger">
                <p>{{localText('transaction.detail.username')}}</p>
                <p>{{localText('transaction.status.not_found')}} <ion-icon name="warning-outline"/></p>
              </div>
              <div class="item warning">
                <p>{{localText('transaction.detail.globalid')}}</p>
                <p>{{transactionData.usergame.globalid}}</p>
              </div>
              <div class="item warning" *ngIf="transactionData.usergame.server">
                <p>{{localText('transaction.detail.server')}}</p>
                <p>{{transactionData.usergame.server}}</p>
              </div>
            </ng-template>
            <div class="item">
              <p>{{localText('transaction.detail.phone')}}</p>
              <p>{{transactionData.user.phone}}</p>
            </div>
            <div class="item">
              <p>{{localText('transaction.detail.product')}}</p>
              <p>{{transactionData.product.name}}</p>
            </div>
          </div>
          <div class="box-item">
            <div class="item">
              <p>{{localText('transaction.detail.product_price')}}</p>
              <p>{{rupiahText(transactionData.payment.product_price)}}</p>
            </div>
            <div class="item">
              <p>{{localText('transaction.detail.seller_cost')}}</p>
              <p>{{rupiahText(transactionData.payment.seller_cost)}}</p>
            </div>
            <div class="item">
              <p>{{localText('transaction.detail.service_cost')}}</p>
              <p>{{rupiahText(transactionData.payment.service_cost)}}</p>
            </div>
          </div>
          <div class="box-item strong">
            <div class="item">
              <p>{{localText('transaction.detail.total_cost')}}</p>
              <p>{{rupiahText(transactionData.payment.total_cost)}}</p>
            </div>
            <div class="item">
              <p>{{localText('transaction.detail.paid_price')}}</p>
              <p>{{rupiahText(transactionData.payment.paid_price)}}</p>
            </div>
            <div class="item warning" *ngIf="transactionData.payment.refund_cost > 0">
              <p>{{localText('transaction.detail.refund_cost')}}</p>
              <p>{{rupiahText(transactionData.payment.refund_cost)}}</p>
            </div>
            <div class="item warning" *ngIf="transactionData.payment.debt_cost > 0">
              <p>{{localText('transaction.detail.debt_cost')}}</p>
              <p>{{rupiahText(transactionData.payment.debt_cost)}}</p>
            </div>
          </div>
        </div>
        <!-- Add hidden file input for image upload -->
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept="image/*" />

        <div class="button-list">
          <ng-container *ngIf="transactionData.usergame.username; else repairUsername">
            <ion-button class="button primary" expand="block" color="primary" (click)="approveTransaction(fileInput)">Setujui Transaksi</ion-button>
            <ion-button class="button danger" expand="block" color="danger" (click)="rejectTransaction()">Batalkan Transaksi</ion-button>
          </ng-container>
          <ng-template #repairUsername>
            <ion-button class="button warning" expand="block" color="warning">Perbaiki Transaksi</ion-button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ion-content>
