<app-main-header [title]="'Transaksi'" [backRedirect]="'/landing/login'" [profileImg]="''"></app-main-header>
<ion-content [fullscreen]="true">
  <div class="mainapp">
    <div class="mainapp-content">
      <div class="information-card">
        <div class="background"></div>
        <div class="top-information">
          <p class="title">{{informationData.game.name}} UUID</p>
          <h3 class="highlight">{{informationData.usergame.globalid}}</h3>
        </div>
        <div class="bottom-information">
          <div class="left-text">
            <p class="title">Produk</p>
            <h4 class="value"><ion-icon name="person-sharp"/>{{informationData.product.name}}</h4>
          </div>
          <div class="right-text">
            <p class="title">Harga</p>
            <h4 class="value"><ion-icon name="person-sharp"/>{{rupiahText(informationData.product.price, {short: true})}}</h4>
          </div>
        </div>
      </div>
      <div class="list-container">
        <div class="top-title">
          <h3 class="title">{{localText('transaction_title_pending')}}</h3>
        </div>
        <div class="item-list">
        </div>
      </div>
    </div>
  </div>
</ion-content>
