<app-main-header [title]="'Transaksi'" [backRedirect]="'/landing/login'" [profileImg]="''"></app-main-header>
<ion-content [fullscreen]="true">
  <div class="mainapp">
    <div class="mainapp-content">
      <div class="information-card">
        <div class="background"></div>
        <div class="top-information">
          <p class="title">Total Transaksi</p>
          <h3 class="highlight">Rp 200.000</h3>
        </div>
        <div class="bottom-information">
          <div class="left-text">
            <p class="title">Pending</p>
            <h4 class="value"><ion-icon name="person-sharp"/>10</h4>
          </div>
          <div class="right-text">
            <p class="title">Berhasil</p>
            <h4 class="value"><ion-icon name="person-sharp"/>5</h4>
          </div>
        </div>
      </div>
      <div class="list-container">
        <div class="top-title">
          <h3 class="title">{{localText('transaction_title_pending')}}</h3>
        </div>
        <div class="item-list">
          <div class="item" button *ngFor="let item of transactionDataList.pending" (click)="redirectToPending(item['game_id'])">
            <div class="left-desc">
              <div class="icon">
                <img src="assets/image/gameiconml.png" alt="">
              </div>
              <div class="text-desc">
                <h5 class="title">{{item['game_name']}}</h5>
                <p class="label">{{item['user_total']}} Orang</p>
              </div>
            </div>
            <div class="right-value">
              <h4>{{rupiahText(item['price_total'], {short: true})}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="list-container">
        <div class="top-title">
          <h3 class="title">{{localText('transaction_title_succes')}}</h3>
        </div>
        <div class="item-list">
          <div class="item" button *ngFor="let item of transactionDataList.success" (click)="redirectToSuccess(item['game_id'])">
            <div class="left-desc">
              <div class="icon">
                <img src="assets/image/gameiconml.png" alt="">
              </div>
              <div class="text-desc">
                <h5 class="title">{{item['game_name']}}</h5>
                <p class="label">{{item['user_total']}} Orang</p>
              </div>
            </div>
            <div class="right-value">
              <h4>{{rupiahText(item['price_total'], {short: true})}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
