<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="validation-main">
    <div class="validation-form">
      <h1 class="title-top">Register</h1>
      <div class="content-input">
        <h4 class="title">Akun</h4>
        <div class="input-list">
          <ion-input class="input-item" label="Email / Phone" type="text" label-placement="floating" fill="outline"></ion-input>
          <ion-input class="input-item" label="Username" type="text" label-placement="floating" fill="outline"></ion-input>
          <ion-input class="input-item" label="Password" type="password" label-placement="floating" fill="outline"></ion-input>
        </div>
        <ion-text class="side-text" color="primary" routerLink="/login">Sudah Punya Akun?</ion-text>
      </div>
      <div class="button-bottom">
        <ion-button class="button-item" button size="default">
          <ion-icon name="person-sharp"/>
          Register
        </ion-button>
        <ion-button class="button-item" button color="danger" size="default">
          <ion-icon name="logo-google"/>
          Register With Google
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
