<ion-content [fullscreen]="true">
  <div class="validation-main">
    <div class="validation-form">
      <h1 class="title-top">Register</h1>
      <div class="content-input">
        <h4 class="title">Akun</h4>
        <div class="input-list">
          <ion-input class="input-item" label="Email / Phone" type="text" [(ngModel)]="emailOrPhone" (ngModelChange)="setEmailOrPhone($event)" label-placement="floating" fill="outline"></ion-input>
          <ion-input class="input-item" label="Username" type="text" [(ngModel)]="registerForm.username" label-placement="floating" fill="outline"></ion-input>
          <ion-input class="input-item" label="Password" type="password" [(ngModel)]="registerForm.password" label-placement="floating" fill="outline"></ion-input>
        </div>
        <ion-text class="side-text" color="primary" routerLink="/login">Sudah Punya Akun?</ion-text>
      </div>
      <div class="button-bottom">
        <ion-button class="button-item" button size="default" (click)="register()">
          <ion-icon name="person-sharp"/>
          Register
        </ion-button>
        <ion-button class="button-item" button color="danger" size="default">
          <ion-icon name="logo-google"/>
          Register With Google
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
