<ion-content [fullscreen]="true">
  <div class="validation-main">
    <div class="validation-form">
      <h1 class="title-top">Login</h1>
      <div class="content-input">
        <h4 class="title">Akun</h4>
        <div class="input-list">
          <ion-input class="input-item" label="Username" type="text" [(ngModel)]="input.username" label-placement="floating" fill="outline"></ion-input>
          <ion-input class="input-item" label="Password" type="password" [(ngModel)]="input.password" label-placement="floating" fill="outline"></ion-input>
        </div>
        <ion-text class="side-text" color="primary" routerLink="/register">Tidak Punya Akun?</ion-text>
      </div>
      <div class="button-bottom">
        <ion-button class="button-item" button size="default">
          <ion-icon name="person-sharp"/>
          Login
        </ion-button>
        <ion-button class="button-item" button color="danger" size="default">
          <ion-icon name="logo-google"/>
          Login With Google
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
