<app-main-header [title]="'Transaksi'" [backRedirect]="'/mainapp/transaction/game'" [profileImg]="''"></app-main-header>
<ion-content [fullscreen]="true">
  <div class="mainapp">
    <div class="mainapp-content">
      <div class="list-container">
        <div class="top-title">
          <div *ngIf="param.status === 'pending'">
            <h3 class="title">{{localText('transaction.title.pending')}}</h3>
          </div>
          <div *ngIf="param.status === 'success'">
            <h3 class="title">{{localText('transaction.title.success')}}</h3>
          </div>
        </div>
        <div class="item-list">
          <ion-item class="item" button *ngFor="let item of transactionList" (click)="redirectToDetail(item.transaction_id)">
            <div class="left-desc" slot="start">
              <div class="icon">
                <img src="assets/image/gameiconml.png" alt="">
              </div>
              <div class="text-desc">
                <h5 class="title">{{item.product_name}}</h5>
                <p class="label">{{item.usergame_globalid}}</p>
              </div>
            </div>
            <div class="right-value" slot="end">
              <h4>{{rupiahText(item.paid_price, {short: true})}}</h4>
            </div>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>
