<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>topup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">topup</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-card class="game-poster">
      <div class="image">
        <img alt="Silhouette of mountains" src="assets/image/gamepanelml.png" />
      </div>
      <ion-card-header>
        <ion-card-title>Mobile Legend</ion-card-title>
        <ion-card-subtitle>Game moba populer yang sangat menyenangkan untuk dimainkan dan sangat melatih kesabaran</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <div>
    <ion-card class="user-form">
      <ion-card-header class="user-header">
        <ion-card-title>Input User</ion-card-title>
      </ion-card-header>
      <ion-card-content class="user-input">
        <ion-input label="User ID" type="number" label-placement="floating" fill="outline" placeholder="Enter number"></ion-input>
        <ion-input label="Server ID" type="number" label-placement="floating" fill="outline" placeholder="Enter number"></ion-input>
        <ion-button size="default">Periksa</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="user-form">
      <ion-card-header class="user-header">
        <ion-card-title>Pilih Nominal Topup</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="user-selection" id="diamond-select">
          <ion-item class="item" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>3 DM</ion-label>
              <ion-text>1K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>5 DM</ion-label>
              <ion-text>2K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>12 DM</ion-label>
              <ion-text>3K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>19 DM</ion-label>
              <ion-text>7K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>28 DM</ion-label>
              <ion-text>10K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>44 DM</ion-label>
              <ion-text>14K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>59 DM</ion-label>
              <ion-text>19K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>85 DM</ion-label>
              <ion-text>22K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>170 DM</ion-label>
              <ion-text>50K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>240 DM</ion-label>
              <ion-text>70K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>296 DM</ion-label>
              <ion-text>100K</ion-text>
            </div>
          </ion-item>

          <ion-item class="item hide" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Diamond RP" src="assets/image/diamondicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>408 DM</ion-label>
              <ion-text>108K</ion-text>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <div class="user-footer">
        <ion-icon button class="expand" name="chevron-down-outline" style="font-size: 24px;"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="user-form">
      <ion-card-header class="user-header">
        <ion-card-title>Pilih Pembayaran</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="user-selection" id="diamond-select">
          <ion-item class="item" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Money Dana" src="assets/image/moneydanaicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>Dana</ion-label>
            </div>
          </ion-item>

          <ion-item class="item" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Money Gopay" src="assets/image/moneygopayicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>Gopay</ion-label>
            </div>
          </ion-item>

          <ion-item class="item" button>
            <ion-thumbnail class="image" slot="start">
              <img alt="Money Shopee" src="assets/image/moneyshopeeicon.png" />
            </ion-thumbnail>
            <div class="desc">
              <ion-label>Shoope Pay</ion-label>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="user-form">
      <ion-card-header class="user-header">
        <ion-card-title>Masukkan Nomor Wa</ion-card-title>
      </ion-card-header>
      <ion-card-content class="user-input">
        <ion-input label="Nomor WA" type="number" label-placement="floating" fill="outline" placeholder="Enter number"></ion-input>
        <ion-button size="default">Beli Sekarang</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
